p {
  margin-bottom: 0;
}

#app {
  overflow-x: hidden;
}

.nav {
  height: unset;
  position: relative;
  width: 100%;

  &:before,
  &:after {
    content: unset;
  }
}

.nav__scroll,
.nav__wrap {
  flex-direction: row;
}

.template-default {
  display: block;
  padding-top: 0;
}

.login {
  background: linear-gradient(0deg, #5DA29A 0%, #5DA29A 100%), url('/assets/images/login-background.jpg'), lightgray 50% / cover no-repeat;
  background-blend-mode: multiply, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;

  .template-minimal__wrap {
    background: #FFF;
    border-radius: 8px;
    padding: 48px;

    form a {
      display: none;
    }

    .field-type.email,
    .field-type.password {
      position: relative;

      // &:active,
      // &:focus {
      //   label {
      //     border-width: 0 !important;
      //     clip: rect(1px, 1px, 1px, 1px) !important;
      //     height: 1px !important;
      //     overflow: hidden !important;
      //     padding: 0 !important;
      //     position: absolute !important;
      //     white-space: nowrap !important;
      //     width: 1px !important;
      //   }
      // }
    }

    .field-type.email label,
    .field-type.password label {
      color: #A3A3A3;
      font-family: 'Outfit', sans-serif;
      font-size: 18px;
      left: 10px;
      padding-bottom: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .field-type.email input,
    .field-type.password input {
      background-color: #F6F5F4;
      border: none;
      border-radius: 8px;
      font-family: 'Outfit', sans-serif;
      font-size: 18px;
      }
  }
}

.form-submit {
  text-align: center;

  button[type="submit"] {
    background-color: #38615C;
    border-radius: 2000px;
    border: 2px solid #38615C;
    color: #F6F5F4;
    font-size: 18px;
    font-weight: 600;
    width: initial;

    &:active,
    &:focus,
    &:hover {
      background-color: #26423E !important;
    }
  }
}

.not-found h1 {
  font-family: 'Outfit', sans-serif;
}

.react-datepicker {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;

  .react-datepicker__navigation {
    top: 10px;
  }

  .react-datepicker__navigation--next {
    right: 42px;
  }

  .react-datepicker__header {
    background-color: #FFF;
    border-bottom: none;
  }

  .react-datepicker__current-month {
    font-size: 18px;
    margin-left: 36px;
    text-align: left;
    text-transform: uppercase;
  }

  .react-datepicker__day-names {
    margin-bottom: 0;
  }

  .react-datepicker__day-name {
    width: 32px;
  }

  .react-datepicker__day {
    width: 32px;
  }

  .react-datepicker__day--selected {
    background-color: #83913A;
    border: 1px solid #90B132;
    border-radius: 8px;
  }
}