p {
  margin-bottom: 0;
}

#app {
  overflow-x: hidden;
}

.app-header {
  display: none;
}

.nav {
  height: unset;
  position: relative;
  transform: unset;
  width: 100%;

  &:before,
  &:after {
    content: unset;
  }
}

#nav-toggler {
  display: none;
}

.nav__scroll,
.nav__wrap {
  flex-direction: row;
}

.template-default {
  display: block;
  // overflow-x: hidden;
  padding-top: 0;
  transform: unset;
  width: 100%;

  & .template-default__wrap {
    transform: unset;
  }
}

.login {
  background:
    linear-gradient(0deg, #5da29a 0%, #5da29a 100%),
    url("/assets/images/login-background.jpg"),
    lightgray 50% / cover no-repeat;
  background-blend-mode: multiply, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;

  .template-minimal__wrap {
    background: #fff;
    border-radius: 8px;
    padding: 48px;

    form a {
      display: none;
    }

    .field-type.email,
    .field-type.password {
      position: relative;

      &:active,
      &:focus {
        label {
          border-width: 0 !important;
          clip: rect(1px, 1px, 1px, 1px) !important;
          height: 1px !important;
          overflow: hidden !important;
          padding: 0 !important;
          position: absolute !important;
          white-space: nowrap !important;
          width: 1px !important;
        }
      }
    }

    .field-type.email input:active,
    .field-type.email input:focus,
    .field-type.email input:active ~ label,
    .field-type.email input:focus ~ label {
      border-width: unset;
      clip: unset;
      height: 61px;
      overflow: unset;
      padding: unset;
      padding-left: 24px;
      position: unset;
      white-space: unset;
      width: 404px;
    }

    .parent a:hover,
    .parent a:hover ~ a {
      color: blue;
    }

    .field-type.email label,
    .field-type.password label {
      color: #a3a3a3;
      font-family: "Outfit", sans-serif;
      font-size: 18px;
      left: 10px;
      padding-bottom: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .field-type.email input,
    .field-type.password input {
      background-color: #f6f5f4;
      border: none;
      border-radius: 8px;
      font-family: "Outfit", sans-serif;
      font-size: 18px;
    }
  }
}

.form-submit {
  text-align: center;

  button[type="submit"] {
    background-color: #38615c;
    border-radius: 2000px;
    border: 2px solid #38615c;
    color: #f6f5f4;
    font-size: 18px;
    font-weight: 600;
    width: initial;

    &:active,
    &:focus,
    &:hover {
      background-color: #26423e !important;
    }
  }
}

.not-found h1 {
  font-family: "Outfit", sans-serif;
}

.react-datepicker {
  border: none;
  font-family: "Outfit", sans-serif;
  font-size: 18px;

  .react-datepicker__navigation {
    display: none;
  }

  .react-datepicker__navigation--next {
  }

  .react-datepicker__header {
    background-color: #fff;
    border-bottom: none;
  }

  .react-datepicker__month-container {
    border: 2px solid #a3a3a3;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .react-datepicker__current-month {
    font-size: 18px;
    margin-left: 16px;
    text-align: left;
    text-transform: uppercase;
  }

  .react-datepicker__day-names {
    margin-bottom: 0;
  }

  .react-datepicker__day-name {
    width: 32px;
  }

  .react-datepicker__day {
    border: 1.5px solid #83913a;
    border-radius: 8px;
    width: 32px;
  }

  .datepicker__day--keyboard-selected {
    background-color: #fff !important;
  }

  .react-datepicker__day--selected,
  .vendor-select {
    background-color: #83913a;
    border: 1px solid #90b132;
    border-radius: 8px;
  }

  .react-datepicker__day--disabled,
  .react-datepicker__day--outside-month {
    border: none;
  }
}
